---
layout: page
title: Categories
tagline: Every drawer in the bench, labeled by topic.
group: navigation
---

<section class="meta-block">
  <h2>Jump to a category</h2>
  <ul class="meta-list jump-list">
    {% for category in site.categories %}
    <li><a href="#{{ category[0] | slugify }}-ref">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
    {% endfor %}
  </ul>
</section>

{% for category in site.categories %}
<section class="meta-block" id="{{ category[0] | slugify }}-ref">
  <h2>{{ category[0] | capitalize }}</h2>
  <ul class="archive-list">
    {% for post in category[1] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span>{{ post.date | date: "%B %d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
